openapi: 3.1.0
info:
  title: Google Cloud Functions Runtimes API
  description: The Cloud Functions API manages lightweight user-provided functions executed in response to events. It supports creating, updating, deleting, and listing functions, as well as managing their runtimes, build configurations, and triggers.
  version: v2
  contact:
    name: Google Cloud
    url: https://cloud.google.com/functions
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://cloudfunctions.googleapis.com/v2
  description: Google Cloud Functions API v2
security:
- oauth2: []
tags:
- name: Runtimes
  description: Operations for listing available runtimes
paths:
  /projects/{projectId}/locations/{location}/runtimes:
    get:
      operationId: listRuntimes
      summary: Google Cloud Functions List runtimes
      description: Returns a list of runtimes that are supported for the requested project.
      tags:
      - Runtimes
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimesResponse'
components:
  schemas:
    ListRuntimesResponse:
      type: object
      properties:
        runtimes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              displayName:
                type: string
              stage:
                type: string
                enum:
                - RUNTIME_STAGE_UNSPECIFIED
                - DEVELOPMENT
                - ALPHA
                - BETA
                - GA
                - DEPRECATED
                - DECOMMISSIONED
              warnings:
                type: array
                items:
                  type: string
              environment:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Functions Documentation
  url: https://cloud.google.com/functions/docs/reference/rest
